{% extends 'TDAdminBundle::layout.html.twig' %}


{% block body %}
<h1>Liste des genres :</h1>
<ul>
    {% for genre in genres %}
        <li>{{ genre.nom }}</li>

            <li><a href="{{  path('admin_genre_modif',{'id': genre.id} ) }}"> Modifier</a></li>
        <a href="{{ path('admin_genre_supprimer', {'id': genre.id}) }}">cliquez ici pour supprimer </a>

    {% endfor %}
</ul>
<a href="{{ path('admin_ajout') }}">Ajouter</a>

{% endblock %}