<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Devschool Cinema{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
</head>
<body>
<ul class="menu">
    <li><a href="{{ path('page_accueil') }}">Accueil</a></li>
    <li><a href="{{ path('page_films') }}">Films</a></li>
</ul>

<div id="content">
    {% block body %}{% endblock %}
</div>
</body>
</html>